@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Mwm.MyQ.Client.Blayzor.Helpers
@using Mwm.MyQ.Client.Service.Models
@using Mwm.MyQ.Domain;
@using Mwm.MyQ.Client.Blayzor.Components
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Cards

@page "/"
@page "/kanban"

<div class="row pb-3">
    <div class="col-lg-12">
        <KanbanFilters />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex flex-row justify-content-center">
            <KanbanBoard />
        </div>
    </div>
</div>


