@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Mwm.MyQ.Domain
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Mwm.MyQ.Client.Blayzor.Models.Shared
@using Mwm.MyQ.Client.Blayzor.Components

@page "/notes"

<div class="container">
    <div class="row">
        <EntityCreatorPane />
    </div>
    <div class="row">
       <div class="col-md-12 text-light border-top p-2" style="height:15px;"></div>
    </div>
    <div class="row">
        <EntityGrid />
    </div>
</div>