@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/plan"

<h3>Today</h3>

<span class="text-light">
    This view will show a combination of meetings, appointments and high priority tasks as well as some reoccuring 
    tasks and triaged tasks.
</span>

