@page "/index"
@using Syncfusion.Blazor.Kanban

 
<SfKanban TValue="TasksModel" KeyField="Company" DataSource="Tasks">
    <KanbanColumns>
        @foreach (var company in Companies) {
            <KanbanColumn HeaderText="@company" KeyField="@(new List<string>() {company})">
            </KanbanColumn>
        }

    </KanbanColumns>
    <KanbanCardSettings HeaderField="Title" ContentField="Summary"></KanbanCardSettings>
    <KanbanSwimlaneSettings KeyField="StatusRank">
        <Template>
            @{
                SwimlaneSettingsModel swimlane = (SwimlaneSettingsModel)context;
                <div class="swimlane-template e-swimlane-template-table">
                    <div class="e-swimlane-row-text">
                        <span>@swimlane.KeyField.ToString()</span>
                    </div>
                </div>
            }
        </Template>

    </KanbanSwimlaneSettings>
</SfKanban>
