@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/todos"

<h3 class="text-center mb-3">Todos</h3>

@code {
    // https://betweentwobrackets.dev/posts/2020/06/state-management-with-blazor-using-fluxor-part-1/

    protected override void OnInitialized() {
        base.OnInitialized();
    }

}


