@inherits Mwm.MyQ.Client.Blayzor.Components.ModelConsumerComponent<TskModel, Tsk>
@using Mwm.MyQ.Client.Service.Models
@using Mwm.MyQ.Client.Service.Store.State.Shared
@using Mwm.MyQ.Domain;
@using Syncfusion.Blazor.Grids

<h2>@FilteredTskModels.Count()</h2>

<SfGrid
        @ref="refSfGrid"
        DataSource="@FilteredTskModels" 
        AllowSorting="true"
        EnableAdaptiveUI="true"
        EnableAutoRowHeight="true"
        Height="100%" 
        Width="90%" >
    <GridColumns>
        <GridColumn Field=@nameof(TskModel.CompanyNameAndProjectName) 
                    HeaderText="Project" 
                    TextAlign="TextAlign.Left" 
                    AutoFit="true"
                    />
        <GridColumn Field=@nameof(TskModel.InitiativeName) 
                    HeaderText="Initiative" 
                    TextAlign="TextAlign.Left" 
                    AutoFit="true"
                     />
        <GridColumn Field=@nameof(TskModel.Name) 
                    HeaderText="Name" 
                    TextAlign="TextAlign.Left" 
                    Width="99%"
                    />
        <GridColumn Field=@nameof(TskModel.StatusName) 
                    HeaderText="Status" 
                    TextAlign="TextAlign.Left"
                    AutoFit="true"
                    />
       <GridColumn HeaderText="Actions" 
                    TextAlign="TextAlign.Center"
                    AutoFit="true"
                    >
            <Template>
                @{
                    var tskModel = (context as TskModel);

                    <button @onclick="() => ShowTskEditor(tskModel)" class="btn btn-primary"><i class="fas fa-pen-square"></i></button>
                    <button class="btn btn-primary"><i class="fas fa-archive"></i></button>
                    <button class="btn btn-primary"><i class="fas fa-check-square"></i></button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

<TskPopup @ref="refTskPopup" />