<div>
@*    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">MyQlone</span>
            </NavLink>
        </li>
    </ul>
    <div class="separator"></div>*@
    <div class="scroller">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="kanban">
                    <span class="syncfusion-blazor-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span>
                    <span class="displayText">Kanban</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="notes">
                    <i class="fas fa-sticky-note fa-lg mr-3"></i>
                    <span class="displayText">Notes</span>
                </NavLink>
            </li>
             <li class="nav-item px-3">
                <NavLink class="nav-link" href="plan">
                    <i class="fas fa-bacon fa-lg mr-3"></i>
                    <span class="displayText">Plan</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="today">
                    <i class="fas fa-calendar-day fa-lg mr-3"></i>
                    <span class="displayText">Today</span>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

