@using Mwm.MyQ.Client.Mud.Components
@using MyQ = Mwm.MyQ.Client.Mud.Pages 

<!--MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" /-->

<MudText Typo="Typo.h4" Color="Color.Surface">
    @CurrentPage.ToString()
</MudText>

<MudSpacer />


    @*@if (CurrentPage == MyQ.Page.Kanban) {
        <TskKanbanToolbar />
    } else if (CurrentPage == MyQ.Page.Notes) {
        <span>Notes</span>
    }*@

    <TskToolbar/>


@*<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@